*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.about .content button, .collection .shirt button, .store .card button{
    background-color: white;
    color: black;
    transition: 0.5s;
}

.about .content button:hover, .collection .shirt button:hover, .store .card button:hover{
    background-color: black;
    color: white;
}

/* header section start */

header nav{
    background-color: #73746cc0;
}

header nav .text a, .icon a i {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

header nav .text a:hover {
    color: white;
    text-decoration: underline;
}

/* header section end */

/* main section start */

/* banner section start */

.banner{
    background-color: #73746c;
    position: relative;
}

.banner .content p{
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 0;
    margin-top: 20%;
}

.banner .content h4{
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 5%;
}

.banner .content h3{
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
    margin-top: 5%;
}

/* banner section end */

/* seller section start */

.seller .title p{
    font-size: 50px;
    font-weight: 600;
}

.seller .shirt img{
    transition: 0.5s;
}

.seller .shirt img:hover{
    transform: scale(1.1);
}

.seller .shirt p{
    top: 4%;
    right: -40px;
    transform: rotate(45deg);
    padding: 5px 48px;
}

/* seller section end */

/* about section start */

.about .img img{
    width: 100%;
    height: 100%;
}

/* about section end */

/* category section start */

.category .shirt img{
    transition: 0.5s;
}

.category .shirt img:hover{
    transform: scale(1.1);
}

/* category section end */

/* collection section start */

.collection .shirt img{
    width: 100%;
    transition: 0.5s;
}

.collection .shirt img:hover{
    transform: scale(1.1);
}

.collection .shirt p{
    top: 50px;
    right: -90px;
    transform: rotate(45deg);
    padding: 6px 120px;
}

/* collection section end */

/* product section start */

.product .shirt img{
    transition: 0.5s;
}

.product .shirt img:hover{
    transform: scale(1.1);
}

.product .shirt p{
    top: 4%;
    right: -40px;
    transform: rotate(45deg);
    padding: 5px 48px;
}

/* product section end */

/* icons section start */

.icon .ship i{
    width: 250px;
}

/* icons section end */

/* article section start */

.article .shirt img{
    transition: 0.5s;
}

.article .shirt img:hover{
    transform: scale(1.1);
}

/* article section end */

/* main section end */

/* footer section start */

footer .off .icons i{
    transition: 0.7s;
}

footer .off .icons i:hover{
    color: black;
    transform: scale(1.1);
}

/* footer section end */